#calc{
    border: 1px solid black;
    height: 500px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    border-radius: 20px;
    width: 400px;
}
#p1{
    text-align: right;
    margin-right: 50px;
    font-size: large;

}
#top{
    display: flex;

}
#number{
    text-align: right;
    margin-left: 320px;
    font-size: large;
    
}
#sign{
    margin-left: 20px;
   
}
table{
    /* font-size: 50px; */
    margin-left: 20px;

}

button{
    font-size: 30px;
    width: 60px;
    margin: 10px;
}
h1{
    margin-left: 470px;
    margin-top: 50px;
    font-size: 35px;
    color: aqua;
    font-weight: bold;
}
#seb{
    margin-left: 850px;
    margin-top: -50px;
    font-style: oblique;
    color: blue;
    font-size: 1.2rem;
}
